
<div class="create-blog-container">
    <h2>Create a New Blog Post</h2>
    
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="title">Title:</label>
        <input type="text" id="title" [(ngModel)]="title" name="title" required>
      </div>
      <div class="stat_img">
            <img [src]="image" alt="" *ngIf="image" style="height: 50%; width: 100%;">
            <img src="https://st3.depositphotos.com/23594922/31822/v/450/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg" alt=""
            *ngIf="!image" style="height: 50%; width: 10%;">
      </div>
        <div>
        <label for="image">Image:</label>
        <input type="file" id="image" (change)="onImageSelected($event)" accept="image/*" required>
      </div>
  
      <div>
        <label for="content">Content:</label>
        <textarea id="content" [(ngModel)]="content" name="content" required></textarea>
      </div>
  
      <div>
        <label for="category">Category:</label>
        <select id="category" [(ngModel)]="category" name="category" required>
          <option value="" disabled selected>Select a category</option>
          <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
        </select>
      </div>
  
      <button type="submit">Post</button>
    </form>
  </div>
  