<div class="blog-detail" >
    <div class="blog-box">
      <h1>{{blog_post?.title}}</h1>
      <p><strong>Author:</strong>{{blog_post?.author}}</p>
      <p><strong>Date:</strong> {{blog_post?.date}}</p>
      <img [src]="blog_post?.imageUrl" alt="Blog Image" class="blog-photo"/>
      <div class="description-box">
        <h2>Description</h2>
        <p>{{blog_post?.desc}}</p>
      </div>
      <div class="content-box">
        <h2>Content</h2>
        <p>content..........</p>
      </div>
    </div>
  </div>
  
