<div class="headerTitle">
    <h2>Blog It!</h2>
</div>

<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email"  name="email" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password"  name="password" required>
      </div>
      <button type="submit">Submit</button>
    </form>
    <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
  </div>
  