<div class="headerTitle">
  <h2>Blog It!</h2>
</div>

<div class="login-container">

  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input id="email" type="email" formControlName="email" required />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</small>
      </div>
    </div>
  
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" formControlName="password" required />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
      </div>
    </div>
  
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
</div>
