/* .post{
    width: 42%;
    height: 500px;
    box-shadow: 2px 8px 8px 2px gray;
    cursor: pointer;
    position: relative;
}

.post img{
    width: 100%;
}

.postContent{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.postTitle{
    text-align: center;
}

.postDesc{
    font-size: 18px;
}

.postDate{
    position: absolute;
    bottom: 10px;
    right: 10px;
} */

.container{
    line-height: 3rem;
}
.post{
    background-color: #fff;
    box-shadow: 0 0 2.5rem rgba(0,0,0,0.28);
}
.card-image{
    height: 20rem;
    overflow: hidden;  
}
.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.card-content{
    padding: 2rem;
}

.blog-details .post-d{
    display: flex;
    align-items: center;
}

.post-d{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}


.button{
    padding: 1.6rem 2rem;
    display: inline-block;
    /* background-color: var(--primary); */
    border-radius: 0.6rem;
    color: green;
    text-decoration: none;


}