<div class="wrapper">
    <nav>
        <h2>BlogIt!</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Write</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li id="profile-link" style="display: none">
              <a href="#">Profile</a>
            </li>
            <li id="login-link" style="display: none">
              <a href="#">Login</a>
            </li>
          </ul>
    </nav>
</div>
<div class="placeHolder"></div>
