
<div class="profile-title">
    <h2>User Profile</h2>
</div>
<div class="profile-container">
    <div class="user-details">
      <img [src]="user.imageUrl" alt="User Image" class="user-image">
      <h2>{{ user.name }}</h2>
      <p>Email: {{ user.email }}</p>
      <p>Posts: {{ user.posts.length }}</p>
      <p>Liked Posts: {{ user.likedPostsCount }}</p>
      <button (click)="editProfile()">Edit Posts</button>
      <button ><a routerLink="/create-blog">Create Post</a></button>

    </div>
    <div class="user-posts">
        <h3 class="posts-title">User's Posts</h3>-
      <div class="card" *ngFor="let post of user.posts; let i = index">
        <img [src]="post.imageUrl" alt="Post Image" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">{{ post.title }}</h4>
          <p class="card-text">{{ post.content }}</p>
          <p class="card-date">{{ post.date}}</p>
          <button (click)="editPost(i)" class="btn btn-primary">Edit</button>
        </div>
      </div>
    </div>
  </div>
