.heroSection{
    background: url("/assets/images/Hero.avif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 270px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 4px 1px gray;;
}

.heroSection h1{
    color: green;
    font-size: 60px;
}

.heroSection p{
    color: #0c0202;
    font-size: 18px;
    width: 50%;
    text-align: center;
}